.signText {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: #252525;
}
.button {
    background-color: #252525;
    color: #fff;
    border: none;
    transition: 0.2s linear all;
    text-transform: capitalize;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.25rem solid #252525;
    cursor: pointer;
}
.button:disabled {
    background-color: #fff;
    color: #252525;
    opacity: 0.75;
    cursor: not-allowed;
}